# 공통

# Node.js의 의존성 패키지 폴더. 용량이 크고 자동 설치되므로 Git에 올릴 필요 없음
node_modules/

# 환경 변수 파일. 비밀번호, API 키 등 민감 정보가 들어가 있으므로 절대 공유 X
.env

# macOS가 자동 생성하는 시스템 파일. Git에 불필요한 파일
.DS_Store

# 프론트엔드 등에서 build 결과물이 저장되는 폴더. 소스코드가 아니므로 Git에 올릴 필요 없음
dist/

# 백엔드 또는 React 등에서 컴파일된 결과물이 저장되는 폴더. 마찬가지로 Git에 올릴 필요 없음
build/