.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 84px - 5vh);
  background-color: #f0f2f5;
}

.forgot-password-box {
  display: flex;
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}



.forgot-password-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot-password-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.find-pw-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.find-pw-button:hover {
  background-color: #0056b3;
}
.login-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.login-links a {
  color: #1877f285;
  text-decoration: none;
  font-size: 14px;
}

.login-links a:hover {
  text-decoration: underline;
}

