.main-Container {
    display: flex;
    justify-content:space-evenly;
    align-items: start;
    min-height: 80vh;
    width: 100%;
    max-width: 1200px; /* Adjust as needed for desktop */
    margin: 0 auto; /* Center the container */
    cursor: url('../public/images/bone.png'), auto;
}

body {
    margin: 0;
}